nav{
    background-color: #205DAE; ;
    width: 100%;
    float: left;
    margin-bottom: 20px;
}    


nav ul li a{
    /* remove o sublinhado do link */
    text-decoration: none;
    color: #fff;
    /* texto em negrito */
    font-weight: bold;
    padding: 15px;
    display: block;
}

nav ul li{
    /* modifica a exibição da lista para o bloco de linha, ou seja um li na frente do outro */
    float: left;
}

nav ul{
    /* remove o ícone(marcação/bolinha) do li*/
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li a:hover{
    background-color: #F2F2F2;
    color: #205DAE;
}

html{
    scroll-behavior: smooth;
}

:target{
    scroll-margin-top: 0px;
}

#topo{
    background-color: #002b62;
    position: fixed;
    bottom: 15px;
    right: 15px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-align: center;
}

#topo a{
    color: #FFF;
}